
/*#c3e3b8 #8dab76 #cbffc9 #81b214 #535204 #d1eaa3 #c9ffc7 #e1ffd9 #e5ffd9 #e2ffd9 #ddffd9 #b3e69a #c9f7a1*/

#title{
  background-color: #d7fcb6;
  padding: 2% 10% 4%;
  text-align:left;
}

.logo{
  width: 90px;
  height: 90px;
}

.logo:hover{
  filter: brightness(92%);
}

.title{
  padding-top: 190px;
  font-size: 75px;
  font-weight: 800;
}

.subtitle{
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
  line-height: 43px;
}

h1,h2{
   font-family: 'Merriweather Sans', sans-serif;
 }

 h3,p,a{
   font-family: 'Sarabun', sans-serif;
 }

 .nav-link{
   font-size: 23px;
   text-align: center;

}

.navbar-toggler{
  width: 80px;
  height: 70px;
  border: none;
  background-color: #c2e8a2;
  border-radius: 16px;
}

.eg-photo{
  display: block;
  padding-left: auto;
  margin-left: auto;
  padding-right: auto;
  margin-right: auto;
  width: 400px;
}

.download-button{
  margin: 5% 3% 5% 0;
  width: 200px;
  height: 60px;
  font-size: 26px;
  border-radius: 10px;
}

/*PURPOSE*/
#purpose{
  font-size: 25px;
  text-align: center;
  padding: 8% 12% 8%;
}

.fa-tint{
  color: #2b99c4;
}
.fa-tint:hover{
  color: #57d0ff;
}

.fa-robot{
  color: #6e6e6e;
}
.fa-robot:hover{
  color: #b8b8b8;
}

.fa-user-graduate:hover{
  color: #826800;
}

.purp-icon{
  padding-bottom: 25px;
}

.claim{
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 30px;
}

.ellab{
  font-size: 20px;
  padding-bottom: 30px;
}

/*three-steps*/
/*#e89761 #c78b32 #82942e #707d32 #66751d #92b53f #546116 #72824d #ff9a8c #ff725e*/
#three-steps{
  background-color: #ff725e;
  color: white;
  padding: 6% 12% 8%;
}

.header{
  font-weight: 700;
  padding-top: 30px;
  font-size: 55px;
  padding-bottom: 5%;
}

.three-step-images{
  width: 240px;
}

.three-step-divs{
  margin-bottom: 70px;
}

.explain{
  font-size: 20px;
}

#support{
  padding: 6% 12% 6%;
  background-color: #fff4ba;
}

.support-div{
  padding: 2%;
  background-color: black;
  border-radius: 20px;
}

.support-msg{
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 45px;
  word-spacing: 7px;
}
.email{
  display: inline;
  color: #e3d89f;
}

#footer{
  padding: 3% 12% 2%;
  background-color: white;
  text-align: center;
}

#privacy{
  padding: 4% 12% 12%;
}

.privacy-title{
  padding-top: 20px;
  font-size: 60px;
  font-weight: 800;
}

@media only screen and (min-width: 993px) {
  .take-snap-left{
    display: none;
  }
  .lower-div{
    padding-left: 30px;
  }
  .three-step-images{
    display: block;
    padding-left: auto;
    margin-left: auto;
    padding-right: auto;
    margin-right: auto;
  }
  .home-link{
    padding-right: 50px;
  }
}

@media only screen and (max-width: 992px) {

  #title{
    padding: 2% 5% 12%;
  }

  .home-link{
    padding-bottom: 20px;
  }

  #three-steps{
    padding: 6% 10% 8%;
  }

  .container-fluid{
    padding-top: 40px;
  }
  .title{
    padding-top: 30px;
    font-size: 85px;
  }
  .subtitle{
    font-size: 45px;
    line-height: 53px;
  }
  .nav-link{
    font-size: 30px;
  }

  .eg-photo{
    padding-left: 0;
  }

  .take-snap-right{
    display: none;
  }

  .claim{
    font-size: 38px;
  }

  .explain{
    font-size: 30px;
    padding-left: 20px;
  }

  .ellab{
    font-size: 30px;
    padding-bottom: 30px;
  }

  .three-step-images{
    float: left;
    margin-right: 30px;
  }

}

@media only screen and (max-width: 768px){
  .eg-photo{
    width: 300px;
  }
  .three-step-images{
    display: block;
    padding-left: auto;
    margin-left: auto;
    padding-right: auto;
    margin-right: auto;

  }

}

@media only screen and (max-width: 472px){

  .eg-photo{
    width: 250px;
  }

}
